/* Header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}

/* Navigation */
nav {
  position: relative;
  display: flex;
}

.header__nav {
  margin-left: 1rem;
}

/* Body */
body {
  position: relative;
}

/* Footer */
footer {
  position: relative;
}
